@using MadWorld.Frontend.UI.Shared.Components
@using MadWorld.Frontend.Domain.General

@page "/CurriculumVitae"
@page "/CurriculumVitae/{language?}"

<PageTitle>Oscar - Curriculum Vitae</PageTitle>

@if (IsReady && !CurriculumVitaeFiller.NotSupported)
{
    <article>
    <div>
        <header>
            <div class="row cv-header">
                <div class="col-xl-3 text-left cv-header-image">
                    <img src="/image/curriculum-vitae/Oscar.jpg" alt="Profile picture" style="height:200px"/>
                </div>
                <div class="col-xl cv-header-main text-left">
                    <h1>@CurriculumVitaeContract.FullName</h1>
                    <p class="title mb-3 cv-header-subtitle">@CurriculumVitaeContract.Title</p>
                    <p><i class="fa-solid fa-mobile-screen-button"></i> <a href="tel:+316########">+316########</a></p>
                    <p><i class="fa-solid fa-inbox"></i> <a href="mailto:######mad-world.nl">######mad-world.nl</a></p>
                </div>
                <div class="col-xl d-flex flex-grow-1 justify-content-center align-items-center">
                    <ul class="unstyled-list">
                        <li class="list-item">
                            <i class="fa-brands fa-linkedin fa-2x list-item-image"></i>
                            <a href="https://www.linkedin.com/in/oveldman/" target="_blank">https://www.linkedin.com/in/oveldman</a>
                        </li>
                        <li class="list-item">
                            <i class="fa-brands fa-github-square fa-2x list-item-image"></i>
                            <a href="https://github.com/oveldman" target="_blank">https://github.com/oveldman</a>
                        </li>
                        <li class="list-item">
                            <i class="fa-brands fa-github-square fa-2x list-item-image"></i>
                            <a href="https://github.com/oveldman/MadWorldSuite" target="_blank">Source of this website</a>
                        </li>
                        <li class="list-item">
                            <i class="fa-solid fa-globe fa-2x list-item-image"></i>
                            <a href="https://www.mad-world.nl" target="_blank">https://www.mad-world.nl</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
    </div>
    <div class="row cv-body">
    <div class="row">
        <section>
            <br/>
            <h2 class="cv-title">About me</h2>
            <hr>
            <div class="row">
                <div class="col-xl-3">
                    <ul class="unstyled-list">
                        <li class="list-item">
                            <span class="fa-stack" title="Birthday">
                                <i class="fa-solid fa-circle fa-stack-2x"></i>
                                <i class="fa-solid fa-cake-candles fa-stack-1x white-icon"></i>
                            </span>
                            <span>@CurriculumVitaeContract.BirthDate.ToString("dd MMMM yyyy", CurriculumVitaeFiller.DefaultCulture)</span>
                        </li>
                        <li class="list-item">
                            <span class="fa-stack" title="Gender">
                                <i class="fa-solid fa-circle fa-stack-2x"></i>
                                <i class="fa-solid fa-person fa-stack-1x white-icon"></i>
                            </span>
                            <span>@CurriculumVitaeFiller.Gender</span>
                        </li>
                        <li class="list-item">
                            <span class="fa-stack" title="Nationality">
                                <i class="fa-solid fa-circle fa-stack-2x"></i>
                                <i class="fa-solid fa-flag fa-stack-1x white-icon"></i>
                            </span>
                            <span>@CurriculumVitaeFiller.Nationality</span>
                        </li>
                        <li class="list-item">
                            <span class="fa-stack" title="Adress">
                                <i class="fa-solid fa-circle fa-stack-2x"></i>
                                <i class="fa-solid fa-location-dot fa-stack-1x white-icon"></i>
                            </span>
                            <div class="cv-adress-label"><span>@CurriculumVitaeFiller.LivingLocation.Address</span><span class="cv-adress-second-row">@CurriculumVitaeFiller.LivingLocation.PostalCode, @CurriculumVitaeFiller.LivingLocation.City</span></div>
                        </li>
                        <li class="list-item">
                            <span class="fa-stack" title="Driving Licence">
                                <i class="fa-solid fa-circle fa-stack-2x"></i>
                                <i class="fa-solid fa-car fa-stack-1x white-icon"></i>
                            </span>
                            <span>@CurriculumVitaeFiller.DrivingLicense</span>
                        </li>
                    </ul>
                </div>
                <div class="col-xl cv-profile">
                    <p>
                        @CurriculumVitaeFiller.ProfileDescription
                    </p>
                </div>
            </div>
        </section>
    </div>
    <div class="row">
        <div class="col-xl-9">
            <h2 class="cv-title">Work Experience</h2>
            <hr>
            <div class="cv-timeline position-relative">
                @foreach (var workExperience in CurriculumVitaeFiller.WorkExperiences)
                {
                    <div class="row">
                        <div class="cv-timeline-item position-relative">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h3 class="cv-subtitle">@workExperience.Title</h3></div>
                                <div>
                                    <a class="cv-job-company" href="@workExperience.Logo.Url" target="_blank">
                                        <img src="/image/curriculum-vitae/@workExperience.Logo.FileName" alt="@workExperience.Logo.Title" height="@workExperience.Logo.Size"/>
                                        @if (!string.IsNullOrEmpty(workExperience.Logo.FileName2))
                                        {
                                            <img src="/image/curriculum-vitae/@workExperience.Logo.FileName2" alt="@workExperience.Logo.Title2" height="@workExperience.Logo.Size2"/>
                                        }
                                    </a>
                                </div>
                            </div>
                            <div class="cv-job-time">@workExperience.TimeLine</div>
                            <div class="cv-job-description">
                                <p>
                                    @workExperience.Description
                                </p>
                            </div>
                            <div class="cv-job-description">
                                <ul>
                                    @foreach (var highlight in workExperience.Highlights)
                                    {
                                        <li>@highlight</li>
                                    }
                                </ul>
                            </div>
                            <div>Technologies used:</div>
                            <div class="row">
                                @foreach (var technology in workExperience.TechnologyUsed)
                                {
                                    <div class="col-md-auto">
                                        <span class="badge bg-secondary badge-pill">@technology</span>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <br/>
                }
            </div>
        </div>
        <div class="col-xl-3 mobile-row">
            <h2 class="cv-title">Skills & Tools</h2>
            <hr>
            <div class="row">
                <div>
                    <h3 class="cv-subtitle">Backend</h3>
                    <ul class="unstyled-list cv-skills">
                        <li>
                            <div>Dotnet Core</div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </li>
                        <li>
                            <div>Dotnet Framework</div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </li>
                        <li>
                            <div>API</div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </li>
                        <li>
                            <div>Entity Framework</div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </li>
                        <li>
                            <div>SQL</div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </li>
                        <li>
                            <div>Kubernetes</div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div>
                    <h3 class="cv-subtitle">Frontend</h3>
                    <ul class="unstyled-list cv-skills">
                        <li>
                            <div>MVC</div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </li>
                        <li>
                            <div>Blazor</div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </li>
                        <li>
                            <div>Javascript</div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </li>
                        <li>
                            <div>HTML/CCS</div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <h2 class="cv-title">Education</h2>
                <hr>
                <div class="degree-type">Computer Science</div>
                <div class="degree-school">Hogeschool Rotterdam</div>
                <div class="degree-time">2014-2019</div>
                <div class="degree-type">Havo Natuur & Techniek</div>
                <div class="degree-school">Comenius College</div>
                <div class="degree-time">2006-2013</div>
            </div>
            <div class="row">
                <h2 class="cv-title">Certifications</h2>
                <hr>
                <div class="degree-type">
                    <div><a class="unstyled-link" href="https://www.credly.com/badges/804268ca-6d46-481e-9a6f-dbbd6dc2fabf">AZ 900</a></div>
                    <div class="degree-school">Microsoft</div>
                    <div class="degree-time">Jan. 2021</div>
                </div>
                <div class="row">
                    <h2 class="cv-title">Language</h2>
                    <hr>
                    <ul class="unstyled-list">
                        @foreach (var language in CurriculumVitaeFiller.Languages)
                        {
                            <li>@language.Name <span class="language-level">(@language.Level)</span></li>
                        }
                    </ul>
                </div>
                <div class="row">
                    <h2 class="cv-title">Interests</h2>
                    <hr>
                    <ul class="unstyled-list">
                        @foreach (var interest in CurriculumVitaeFiller.Interests)
                        {
                            <li>@interest</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    </article>
}
else if (IsReady && CurriculumVitaeFiller.NotSupported)
{
    <div>
        <p>The language <strong>"@Language"</strong> is not supported</p>
        <p>Try the following languages: 
                <NavLink class="nav-link" href="/CurriculumVitae/nl">
                    Dutch Curriculum Vitae
                </NavLink>
                <NavLink class="nav-link" href="/CurriculumVitae/en">
                    English Curriculum Vitae
                </NavLink>
        </p>
    </div>
}
else
{
    <LoadingSpinner/>
}
